* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 400px;
    background-image: url(img/a5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* NAVIGATION */
nav {
    width: 50%;
    height: 60%;
    margin: 0 auto;
    background: #fff;
    padding: 0 0;
    box-shadow: 0px 5px 0px #e74c3c;
  }
  nav ul {
    list-style: none;
    text-align: center;
    background-color: #df9019;
  }
  nav ul li {
    display: inline-block;
  }
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(66, 14, 14);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
    color:#e74c3c;
  } 

  /* stroke */
   nav.stroke ul li {
    position: relative;
  }
   
  nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(17, 17, 17);
  height: 1px;
  
}
nav.stroke ul li a:hover:after {
    width: 100%;   
}
h1{
    color: white;
    text-align: center;
    float: none;
    /* background-color:#500a0a; */
    width:fit-content;
    margin-left: 512px;
    margin-bottom: 20px
    
}

header p{
    text-align: center;
    color: white;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
main{
    width:auto;
    height:auto;
    background-color: #df9019;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5px;

}
footer{
    background-color: rgb(20, 19, 20);
    padding-bottom: 50px;
}

footer h3{
    color: #df9019;
    text-align: center;
}

.wrapper1{
    /* float: left; */
    display: block;
    padding-top: 10px;
    background-color: #e74c3c;
    /* background-image: url(img/ba7.jpg);
    background-position: center;
    background-repeat: no-repeat;*/
    margin: 5px 5px 20px 5px;
    height: fit-content;
    padding-bottom: 80px;
}

.about{
    float:none;
    padding-top: 10px;

}
.about h2{
    text-align: center;
}
.paragraph1{
    float: left;
    padding-top: 10px;
    width: 320px;
    text-align: justify;
    padding-right: 30px;
    margin: 15px 0 20px 20px;
}

.frame {
    width: 300px;
    height: 250px;
    border: 3px solid  #df9019;
    background: #aaa;
    margin: auto;
    padding: 15px 10px;
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
  }
.cap{
    /* float:right; */
    display: inline-block;
    width: 300px;
    margin: 10px 10px 30px 20px;
    text-align: justify;
    border: #df9019;
  }
.career{
    text-align: center;
    margin: 10px;
    font-size: medium;
}
  .paragraph2{
    float: left;
    padding-top: 10px;
    padding-right: 30px;
    margin: 15px 0 50px 20px; 
    margin-right: 0;
 }

 .spuli{
    float: right;
    width:350px;
    margin: 20px 0 0 10px;
    text-align: justify;
    
  }

  .inst {
    float:right;
    /* display: inline-block; */
    width:400px;
    text-align: justify;
    margin:20px 55px 60px 55px;

  }
  ul{
    list-style:circle;
    text-align: justify;
  }

li{
    text-align: justify;
}
.attended{
    text-align: center;
    margin-bottom: 10px;
    padding-top: 0px;
}
.h1{
    margin-bottom: 30px;
}
.special{
    text-align: center;
    margin-bottom: 10px;
    padding-top: 0px;
}
#contact{
  display: inline-block;
  width: 200px;
  text-align: justify;
  padding: 10px 0 0 10px;
  margin-left: 200px;
  
}
#mycontact{
  display: inline-block;
  background-color: #c0e3f7;
  width:100%;
  height:100%;
  margin-bottom: 20px;
}
#form{
  float:right;
  padding-right: 15px;
  padding-top: 30px;
  background-color: aqua;
  padding-left: 15px;
  margin-right: 50%;
}
#map{
  display: inline-block;
  padding-left: 60%;
  margin-bottom: 100%;
}
