* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 400px;
    background-image: url(img/a5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header p{
  text-align:center;
  color: white;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 40px;
}
#welcome {
  display:flexbox;
  width: 50%;
  flex-wrap: wrap;
  position: relative;
  margin-left: 25%;
  text-align: justify;
  /* margin-bottom: 60px; */

}

/* NAVIGATION */
nav {
    width: 50%;
    height: 60%;
    margin: 0 auto;
    background:#ebebeb;
    padding: 0 0;
    box-shadow: 0px 5px 0px #df9019;
  }
  nav ul {
    list-style: none;
    text-align: center;
    background-color: #ebebeb;
  }
  nav ul li {
    display: inline-block;
  }
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(66, 14, 14);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
    color:#df9019;
  } 

  /* stroke */
   nav.stroke ul li {
    position: relative;
  }
   
  nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(17, 17, 17);
  height: 1px;
  
}
nav.stroke ul li a:hover:after {
    width: 100%;   
}
h1{
    color: white;
    text-align: center;
    float: none;
    /* background-color:#500a0a; */
    width:fit-content;
    /* margin-left: 512px; */
    margin-bottom: 20px
    
}
body{
  background-color: rgb(15, 29, 41);
  margin:auto;
  width:1024px;
  padding:10px;
  font-size:14px;
  font-family:Verdana;
  box-shadow: #250ed4;
}
main{
    width:auto;
    height:auto;
    background-color:rgb(22, 42, 59);
    background-position: center;
    background-size: cover;
    padding-top: 5px;

}
/* footer{
    background-color: rgb(20, 19, 20);
    padding-bottom: 50px;
}

footer h3{
    color: #df9019;
    text-align: center;
} */

.wrapper1{
    /* float: left; */
    display:inline-flex;
    width: 1024px;;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ebebeb;
    /* background-image: url(img/ba7.jpg);
    background-position: center;
    background-repeat: no-repeat;*/
    margin: 0px 5px 20px 0px;
    justify-content:space-around;
    /* height: fit-content;
    padding-bottom: 10px; */
} 

.wrapper1 ul{
  list-style:inside;
  list-style-type: decimal;
}

.about{
    float:none;
    padding-top: 10px;

}
.about h2{
    text-align: center;
    color: white;
    padding-bottom: 10px;
}
.paragraph1{
    display:flexbox;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 0px 10px 10px 0;
    width:50%;
    text-align: justify;
    margin-left: 25%;
    color: white;
}

.paragraph1 a{
    color:#df9019;
}
.paragraph1 p{
  text-align: center;
}

.frame {
    width: 300px;
    height: 250px;
    border: 3px solid  #df9019;
    background: #aaa;
    margin: auto;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  img {
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
  }
.cap{
    /* float:right; */
    display: flexbox;
    width: 300px;
    /* margin: 10px 0px 0px 12px; */
    text-align: justify;
    border: #df9019;
    border-style: solid;
    border-radius: 10px;
    border-spacing: 5px;
  }
.career{
    text-align: center;
    margin: 10px;
    font-size: medium;
}
  /* .paragraph2{
    /* float: left; */
    /* padding-top: 10px;
    padding-right: 30px;
    margin: 10px; 
    margin-right: 0;
 } */ 

 .spuli{
    display:flexbox;
    /* float: right; */
    width:350px;
    /* margin: 20px 0 0px 10px; */
    border: #df9019;
    border-style: solid;
    border-radius: 10px;
    border-spacing: 5px;
  }

  .inst {
    display:flexbox;
    width:300px;
    text-align: justify;
    /* margin:20px 0px 0px 20px; */
    text-justify: distribute;
    border: #df9019;
    border-style: solid;
    border-radius: 10px;

  }
  ul{
    /* list-style:circle; */
    text-align: justify;
  }

li{
    text-align: justify;
}
.attended{
    text-align: center;
    margin-bottom: 10px;
    padding-top: 0px;
}
.h1{
    margin-bottom: 30px;
}
.special{
    text-align: center;
    margin-bottom: 10px;
    padding-top: 0px;
}
#mycontact{
  padding-top: 10px;
  display:inline-flex;
  flex-wrap: wrap;
  width: 1024px;
  background-color: #c0e3f7;
  width:100%;
  height:auto;
  margin-bottom: 10px;
  justify-content: space-around;
}
#contact{
  display: flexbox;
  text-align: justify;
  width: 350px;
}
#form{
  display:flexbox;
  /* background-color: aqua; */
  
}
#map{
  display:flexbox;
}

footer{
  display: flexbox;
  /* position: relative; */
  background: #f4f4f7;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
}
/* footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
} */
footer .content{
  max-width: 2024px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
